# CircleCI Configuration File

# version of circleci
version: 2

# set of jobs to run
jobs:
    install-riscv-tools:
        docker:
            - image: riscvboom/riscvboom-images:0.0.5
        environment:
            JVM_OPTS: -Xmx3200m # Customize the JVM maximum heap limit
            TERM: dumb
        steps:
            - checkout
            - run:
                name: Create hash of riscv-tools
                command: |
                    .circleci/get-riscv-tools-hash.sh
            - restore_cache:
                keys:
                    - riscv-tools-installed-v3-{{ checksum "../riscv-tools.hash" }}
            - run:
                name: Building riscv-tools
                command: |
                    .circleci/build-riscv-tools.sh
                no_output_timeout: 120m
            - save_cache:
                key: riscv-tools-installed-v3-{{ checksum "../riscv-tools.hash" }}
                paths:
                    - "/home/riscvuser/riscv-tools-install"
    prepare-build-environment:
        docker:
            - image: riscvboom/riscvboom-images:0.0.5
        environment:
            JVM_OPTS: -Xmx3200m # Customize the JVM maximum heap limit
            TERM: dumb
        steps:
            - checkout
            - run:
                name: Create hash of template
                command: |
                    .circleci/get-bhd-hash.sh
            - restore_cache:
                keys:
                    - bhd-with-verilator-v9-{{ checksum "../bhd.hash" }}
            - run:
                name: Build Verilator and setup build environment
                command: |
                    .circleci/prepare-for-rtl-build.sh
                no_output_timeout: 120m
            - save_cache:
                key: bhd-with-verilator-v9-{{ checksum "../bhd.hash" }}
                paths:
                    - "/home/riscvuser/bhd"
    prepare-boomconfig:
        docker:
            - image: riscvboom/riscvboom-images:0.0.5
        environment:
            JVM_OPTS: -Xmx3200m # Customize the JVM maximum heap limit
            TERM: dumb
        steps:
            - checkout
            - run:
                name: Create hash of riscv-tools and bhd
                command: |
                    .circleci/get-bhd-hash.sh
                    .circleci/get-riscv-tools-hash.sh
            - restore_cache:
                keys:
                    - riscv-tools-installed-v3-{{ checksum "../riscv-tools.hash" }}
            - restore_cache:
                keys:
                    - bhd-with-verilator-v9-{{ checksum "../bhd.hash" }}
            - run:
                name: Building BoomConfig using Verilator
                command: .circleci/do-rtl-build.sh SUB_PROJECT=boom TOP=BoomRocketSystem MODEL=TestHarness CONFIG=BoomConfig
                no_output_timeout: 120m
            - save_cache:
                key: boomconfig-{{ .Branch }}-{{ .Revision }}
                paths:
                    - "/home/riscvuser/bhd"
    prepare-smallrv32unifiedboomconfig:
        docker:
            - image: riscvboom/riscvboom-images:0.0.5
        environment:
            JVM_OPTS: -Xmx3200m # Customize the JVM maximum heap limit
            TERM: dumb
        steps:
            - checkout
            - run:
                name: Create hash of riscv-tools and bhd
                command: |
                    .circleci/get-bhd-hash.sh
                    .circleci/get-riscv-tools-hash.sh
            - restore_cache:
                keys:
                    - riscv-tools-installed-v3-{{ checksum "../riscv-tools.hash" }}
            - restore_cache:
                keys:
                    - bhd-with-verilator-v9-{{ checksum "../bhd.hash" }}
            - run:
                name: Building SmallRV32UnifiedBoomConfig using Verilator
                command: .circleci/do-rtl-build.sh SUB_PROJECT=boom TOP=BoomRocketSystem MODEL=TestHarness CONFIG=SmallRV32UnifiedBoomConfig
                no_output_timeout: 120m
            - save_cache:
                key: smallrv32unifiedboomconfig-{{ .Branch }}-{{ .Revision }}
                paths:
                    - "/home/riscvuser/bhd"
    prepare-smallboomconfig:
        docker:
            - image: riscvboom/riscvboom-images:0.0.5
        environment:
            JVM_OPTS: -Xmx3200m # Customize the JVM maximum heap limit
            TERM: dumb
        steps:
            - checkout
            - run:
                name: Create hash of riscv-tools and bhd
                command: |
                    .circleci/get-bhd-hash.sh
                    .circleci/get-riscv-tools-hash.sh
            - restore_cache:
                keys:
                    - riscv-tools-installed-v3-{{ checksum "../riscv-tools.hash" }}
            - restore_cache:
                keys:
                    - bhd-with-verilator-v9-{{ checksum "../bhd.hash" }}
            - run:
                name: Building SmallBoomConfig using Verilator
                command: .circleci/do-rtl-build.sh SUB_PROJECT=boom TOP=BoomRocketSystem MODEL=TestHarness CONFIG=SmallBoomConfig
                no_output_timeout: 120m
            - save_cache:
                key: smallboomconfig-{{ .Branch }}-{{ .Revision }}
                paths:
                    - "/home/riscvuser/bhd"
    prepare-mediumboomconfig:
        docker:
            - image: riscvboom/riscvboom-images:0.0.5
        environment:
            JVM_OPTS: -Xmx3200m # Customize the JVM maximum heap limit
            TERM: dumb
        steps:
            - checkout
            - run:
                name: Create hash of riscv-tools and bhd
                command: |
                    .circleci/get-bhd-hash.sh
                    .circleci/get-riscv-tools-hash.sh
            - restore_cache:
                keys:
                    - riscv-tools-installed-v3-{{ checksum "../riscv-tools.hash" }}
            - restore_cache:
                keys:
                    - bhd-with-verilator-v9-{{ checksum "../bhd.hash" }}
            - run:
                name: Building MediumBoomConfig using Verilator
                command: .circleci/do-rtl-build.sh SUB_PROJECT=boom TOP=BoomRocketSystem MODEL=TestHarness CONFIG=MediumBoomConfig
                no_output_timeout: 120m
            - save_cache:
                key: mediumboomconfig-{{ .Branch }}-{{ .Revision }}
                paths:
                    - "/home/riscvuser/bhd"
    prepare-smallboomandrocketconfig:
        docker:
            - image: riscvboom/riscvboom-images:0.0.5
        environment:
            JVM_OPTS: -Xmx3200m # Customize the JVM maximum heap limit
            TERM: dumb
        steps:
            - checkout
            - run:
                name: Create hash of riscv-tools and bhd
                command: |
                    .circleci/get-bhd-hash.sh
                    .circleci/get-riscv-tools-hash.sh
            - restore_cache:
                keys:
                    - riscv-tools-installed-v3-{{ checksum "../riscv-tools.hash" }}
            - restore_cache:
                keys:
                    - bhd-with-verilator-v9-{{ checksum "../bhd.hash" }}
            - run:
                name: Building SmallBoomAndRocketConfig using Verilator
                command: .circleci/do-rtl-build.sh SUB_PROJECT=boom TOP=BoomRocketSystem MODEL=TestHarness CONFIG=SmallBoomAndRocketConfig
                no_output_timeout: 120m
            - save_cache:
                key: smallboomandrocketconfig-{{ .Branch }}-{{ .Revision }}
                paths:
                    - "/home/riscvuser/bhd"
    prepare-example-boomconfig:
        docker:
            - image: riscvboom/riscvboom-images:0.0.5
        environment:
            JVM_OPTS: -Xmx3200m # Customize the JVM maximum heap limit
            TERM: dumb
        steps:
            - checkout
            - run:
                name: Create hash of riscv-tools and bhd
                command: |
                    .circleci/get-bhd-hash.sh
                    .circleci/get-riscv-tools-hash.sh
            - restore_cache:
                keys:
                    - riscv-tools-installed-v3-{{ checksum "../riscv-tools.hash" }}
            - restore_cache:
                keys:
                    - bhd-with-verilator-v9-{{ checksum "../bhd.hash" }}
            - run:
                name: Building BoomConfig with TSI bringup using Verilator
                command: .circleci/do-rtl-build.sh SUB_PROJECT=example CONFIG=DefaultBoomConfig
                no_output_timeout: 120m
            - save_cache:
                key: example-boomconfig-{{ .Branch }}-{{ .Revision }}
                paths:
                    - "/home/riscvuser/bhd"
    prepare-example-smallboomconfig:
        docker:
            - image: riscvboom/riscvboom-images:0.0.5
        environment:
            JVM_OPTS: -Xmx3200m # Customize the JVM maximum heap limit
            TERM: dumb
        steps:
            - checkout
            - run:
                name: Create hash of riscv-tools and bhd
                command: |
                    .circleci/get-bhd-hash.sh
                    .circleci/get-riscv-tools-hash.sh
            - restore_cache:
                keys:
                    - riscv-tools-installed-v3-{{ checksum "../riscv-tools.hash" }}
            - restore_cache:
                keys:
                    - bhd-with-verilator-v9-{{ checksum "../bhd.hash" }}
            - run:
                name: Building SmallBoomConfig with TSI bringup using Verilator
                command: .circleci/do-rtl-build.sh SUB_PROJECT=example CONFIG=SmallDefaultBoomConfig
                no_output_timeout: 120m
            - save_cache:
                key: example-smallboomconfig-{{ .Branch }}-{{ .Revision }}
                paths:
                    - "/home/riscvuser/bhd"
    run-scala-checkstyle:
        docker:
            - image: riscvboom/riscvboom-images:0.0.5
        environment:
            JVM_OPTS: -Xmx3200m # Customize the JVM maximum heap limit
            TERM: dumb
        steps:
            - checkout
            - run:
                name: Run Scala checkstyle
                command: make checkstyle
    example-boomconfig-run-csmith-tests:
        docker:
            - image: riscvboom/riscvboom-images:0.0.5
        environment:
            JVM_OPTS: -Xmx3200m # Customize the JVM maximum heap limit
            TERM: dumb
        steps:
            - checkout
            - run:
                name: Create hash of riscv-tools
                command: |
                    .circleci/get-riscv-tools-hash.sh
            - restore_cache:
                keys:
                    - riscv-tools-installed-v3-{{ checksum "../riscv-tools.hash" }}
            - restore_cache:
                keys:
                    - example-boomconfig-{{ .Branch }}-{{ .Revision }}
            - run:
                name: Run BoomConfig with TSI bringup csmith tests
                command: .circleci/build-run-csmith-tests.sh DefaultBoomConfig 50
                no_output_timeout: 30m
    example-smallboomconfig-run-csmith-tests:
        docker:
            - image: riscvboom/riscvboom-images:0.0.5
        environment:
            JVM_OPTS: -Xmx3200m # Customize the JVM maximum heap limit
            TERM: dumb
        steps:
            - checkout
            - run:
                name: Create hash of riscv-tools
                command: |
                    .circleci/get-riscv-tools-hash.sh
            - restore_cache:
                keys:
                    - riscv-tools-installed-v3-{{ checksum "../riscv-tools.hash" }}
            - restore_cache:
                keys:
                    - example-smallboomconfig-{{ .Branch }}-{{ .Revision }}
            - run:
                name: Run SmallBoomConfig with TSI bringup csmith tests
                command: .circleci/build-run-csmith-tests.sh SmallDefaultBoomConfig 50
                no_output_timeout: 30m
    boomconfig-run-riscv-tests:
        docker:
            - image: riscvboom/riscvboom-images:0.0.5
        environment:
            JVM_OPTS: -Xmx3200m # Customize the JVM maximum heap limit
            TERM: dumb
        steps:
            - checkout
            - run:
                name: Create hash of riscv-tools
                command: |
                    .circleci/get-riscv-tools-hash.sh
            - restore_cache:
                keys:
                    - riscv-tools-installed-v3-{{ checksum "../riscv-tools.hash" }}
            - restore_cache:
                keys:
                    - boomconfig-{{ .Branch }}-{{ .Revision }}
            - run:
                name: Run BoomConfig riscv tests
                command: |
                    make run-bmark-tests -C ../bhd/sims/verisim SUB_PROJECT=boom TOP=BoomRocketSystem MODEL=TestHarness CONFIG=BoomConfig
                    make run-asm-tests -C ../bhd/sims/verisim SUB_PROJECT=boom TOP=BoomRocketSystem MODEL=TestHarness CONFIG=BoomConfig
    smallrv32unifiedboomconfig-run-riscv-tests:
        docker:
            - image: riscvboom/riscvboom-images:0.0.5
        environment:
            JVM_OPTS: -Xmx3200m # Customize the JVM maximum heap limit
            TERM: dumb
        steps:
            - checkout
            - run:
                name: Create hash of riscv-tools
                command: |
                    .circleci/get-riscv-tools-hash.sh
            - restore_cache:
                keys:
                    - riscv-tools-installed-v3-{{ checksum "../riscv-tools.hash" }}
            - restore_cache:
                keys:
                    - smallrv32unifiedboomconfig-{{ .Branch }}-{{ .Revision }}
            - run:
                name: Run SmallRV32UnifiedBoomConfig riscv tests
                command: |
                    make run-asm-tests -C ../bhd/sims/verisim SUB_PROJECT=boom TOP=BoomRocketSystem MODEL=TestHarness CONFIG=SmallRV32UnifiedBoomConfig
    smallboomconfig-run-riscv-tests:
        docker:
            - image: riscvboom/riscvboom-images:0.0.5
        environment:
            JVM_OPTS: -Xmx3200m # Customize the JVM maximum heap limit
            TERM: dumb
        steps:
            - checkout
            - run:
                name: Create hash of riscv-tools
                command: |
                    .circleci/get-riscv-tools-hash.sh
            - restore_cache:
                keys:
                    - riscv-tools-installed-v3-{{ checksum "../riscv-tools.hash" }}
            - restore_cache:
                keys:
                    - smallboomconfig-{{ .Branch }}-{{ .Revision }}
            - run:
                name: Run SmallBoomConfig riscv tests
                command: |
                    make run-bmark-tests -C ../bhd/sims/verisim SUB_PROJECT=boom TOP=BoomRocketSystem MODEL=TestHarness CONFIG=SmallBoomConfig
                    make run-asm-tests -C ../bhd/sims/verisim SUB_PROJECT=boom TOP=BoomRocketSystem MODEL=TestHarness CONFIG=SmallBoomConfig
    mediumboomconfig-run-riscv-tests:
        docker:
            - image: riscvboom/riscvboom-images:0.0.5
        environment:
            JVM_OPTS: -Xmx3200m # Customize the JVM maximum heap limit
            TERM: dumb
        steps:
            - checkout
            - run:
                name: Create hash of riscv-tools
                command: |
                    .circleci/get-riscv-tools-hash.sh
            - restore_cache:
                keys:
                    - riscv-tools-installed-v3-{{ checksum "../riscv-tools.hash" }}
            - restore_cache:
                keys:
                    - mediumboomconfig-{{ .Branch }}-{{ .Revision }}
            - run:
                name: Run MediumBoomConfig riscv tests
                command: |
                    make run-bmark-tests -C ../bhd/sims/verisim SUB_PROJECT=boom TOP=BoomRocketSystem MODEL=TestHarness CONFIG=MediumBoomConfig
                    make run-asm-tests -C ../bhd/sims/verisim SUB_PROJECT=boom TOP=BoomRocketSystem MODEL=TestHarness CONFIG=MediumBoomConfig
    smallboomandrocketconfig-run-riscv-tests:
        docker:
            - image: riscvboom/riscvboom-images:0.0.5
        environment:
            JVM_OPTS: -Xmx3200m # Customize the JVM maximum heap limit
            TERM: dumb
        steps:
            - checkout
            - run:
                name: Create hash of riscv-tools
                command: |
                    .circleci/get-riscv-tools-hash.sh
            - restore_cache:
                keys:
                    - riscv-tools-installed-v3-{{ checksum "../riscv-tools.hash" }}
            - restore_cache:
                keys:
                    - smallboomandrocketconfig-{{ .Branch }}-{{ .Revision }}
            - run:
                name: Run SmallBoomAndRocketConfig riscv tests
                command: |
                    make run-bmark-tests -C ../bhd/sims/verisim SUB_PROJECT=boom TOP=BoomRocketSystem MODEL=TestHarness CONFIG=SmallBoomAndRocketConfig
                    make run-asm-tests -C ../bhd/sims/verisim SUB_PROJECT=boom TOP=BoomRocketSystem MODEL=TestHarness CONFIG=SmallBoomAndRocketConfig
# Order and dependencies of jobs to run
workflows:
    version: 2
    build-and-test-boom-configs:
        jobs:
            # Make the toolchain
            - install-riscv-tools

            # Build verilator
            - prepare-build-environment:
                requires:
                    - install-riscv-tools

            # Run generic syntax checking
            - run-scala-checkstyle:
                requires:
                    - install-riscv-tools

            # Prepare the verilator builds
            - prepare-boomconfig:
                requires:
                    - prepare-build-environment
            - prepare-smallrv32unifiedboomconfig:
                requires:
                    - prepare-build-environment
            - prepare-smallboomconfig:
                requires:
                    - prepare-build-environment
            - prepare-mediumboomconfig:
                requires:
                    - prepare-build-environment
            - prepare-smallboomandrocketconfig:
                requires:
                    - prepare-build-environment
            - prepare-example-smallboomconfig:
                requires:
                    - prepare-build-environment
            - prepare-example-boomconfig:
                requires:
                    - prepare-build-environment

            # Run the TSI versions of csmith (easier to debug when there are issues)
            - example-boomconfig-run-csmith-tests:
                requires:
                    - prepare-example-boomconfig
            - example-smallboomconfig-run-csmith-tests:
                requires:
                    - prepare-example-boomconfig

            # Run the BoomConfig tests
            - boomconfig-run-riscv-tests:
                requires:
                    - prepare-boomconfig

            # Run the SmallRV32UnifiedBoomConfig tests
            - smallrv32unifiedboomconfig-run-riscv-tests:
                requires:
                    - prepare-smallrv32unifiedboomconfig

            # Run the SmallBoomConfig tests
            - smallboomconfig-run-riscv-tests:
                requires:
                    - prepare-smallboomconfig

            # Run the MediumBoomConfig tests
            - mediumboomconfig-run-riscv-tests:
                requires:
                    - prepare-mediumboomconfig

            # Run the SmallBoomAndRocketConfig tests
            - smallboomandrocketconfig-run-riscv-tests:
                requires:
                    - prepare-smallboomandrocketconfig
